<h1>Googleカレンダーに新しい記録を追加</h1>

<% if current_user %>
  <p>ようこそ、<%= current_user.name %>さん！</p>
  <%= link_to 'ログアウト', signout_path %>

  <%= form_with(url: calendar_helper_create_path, local: true) do |form| %>
    <div>
      <%= form.label :title, 'タイトル' %>
      <%= form.text_field :title, required: true %>
    </div>

    <div>
      <%= form.label :start_time, '開始時間' %>
      <%= form.datetime_local_field :start_time, required: true %>
    </div>

    <div>
      <%= form.label :end_time, '終了時間' %>
      <%= form.datetime_local_field :end_time, required: true %>
    </div>

    <%= form.submit 'Googleカレンダーに追加' %>
  <% end %>
<% else %>
  <p>Googleカレンダーに記録を追加するには、ログインしてください。</p>
  <%= link_to 'Googleでログイン', '/auth/google_oauth2' %>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>